* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  top:0;
 
}

.home,
.guides,
.about,
.signup,
.signin,
.createguide {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.signin {
  flex-direction: column;
  height: 98vh;
  background-image: url('../public/images/img-test.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 20px;
  font-family: OCR A Std, monospace;
  color: rgb(14, 148, 226);
}

.signin-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.signin-label {
  margin: 10px 0;
}

.signin-input {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.signin-button {
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(31, 84, 165);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 17px;
  text-align: center;
  font-family: OCR A Std, monospace;
}

.signin-button:hover {
  background-color: #bfbdc7;
}


.guides {
  flex-direction: column;
  height: 98vh;
  background-image: url('../public/images/img-test.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 70px;
  font-family: OCR A Std, monospace;
  color: rgb(14, 148, 226);
}

.guides-button{


}

.settings {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-direction: column;
  height: 98vh;
  background-image: url('../public/images/img-test.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 20px;
  font-family: OCR A Std, monospace;
  color: rgb(37, 175, 255);
}

.settings h1 {
  margin-top: 150px; /* Add space above the h1 */
  z-index: 1
}

.rectangle {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%; /* Adjust the width as needed */
  height: 85vh; /* Adjust the height as needed */
  background: linear-gradient(to right, #0c416d, #03062b); 
  border-radius: 20px; /* Adjust the border radius to make the edges round */
  z-index: 0;
}

.settings-btn {
  margin-bottom: 20px; 
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: rgb(3, 12, 36);
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.settings-btn-delete{
  margin-bottom: 100px; 
  display: inline-block;
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #ff0000;
  color: rgb(0, 0, 0);
  font-size: medium;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  z-index: 1;
}

.settings-btn:hover {
  background-color: #0056b3;
}

.input-wrapper {
  position: relative;
  display: inline-block;
}

.input-wrapper input {
  display: block;
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-overlay {
  position: absolute; /* Position input element absolutely */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the input element */
  background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 5px;
  z-index: 1; /* Ensure input is above buttons */
}

.createguide {
  flex-direction: column;
  height: 98vh;
  background-image: url('../public/images/img-test.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 70px;
  font-family: OCR A Std, monospace;
  color: rgb(14, 148, 226);
}

.signup {
  flex-direction: column;
  height: 98vh;
  background-image: url('../public/images/img-test.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 20px;
  font-family: OCR A Std, monospace;
  color: rgb(14, 148, 226);
}

.signup-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.signup-label {
  margin: 10px 0;
}

.signup-input {
  padding: 10px;
  background-color: white;
  border: none;
  border-radius: 10px;
}

.signup-button {
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(31, 84, 165);
  color: white;
  padding: 10px;
  border: none;
  border-radius: 17px;
  text-align: center;
  font-family: OCR A Std, monospace;
}

.signup-button:hover {
  background-color: #bfbdc7;
}

.about {
  flex-direction: column;
  height: 98vh;
  background-image: url('../public/images/img-test.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 70px;
  font-family: OCR A Std, monospace;
  color: rgb(14, 148, 226);
}
