* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    top:0;
   
  }
  
  .home,
  .guides,
  .about,
  .signup,
  .signin {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
  }

  .signin {
    flex-direction: column;
    height: 98vh;
    background-image: url('../public/images/img-test.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
    font-family: OCR A Std, monospace;
    color: rgb(14, 148, 226);
  }

  .signin-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .signin-label {
    margin: 10px 0;
  }
  
  .signin-input {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .signin-button {
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(31, 84, 165);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 17px;
    text-align: center;
    font-family: OCR A Std, monospace;
  }
  
  .signin-button:hover {
    background-color: #bfbdc7;
  }

  
  .guides {
    flex-direction: column;
    height: 98vh;
    background-image: url('../public/images/img-test.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 70px;
    font-family: OCR A Std, monospace;
    color: rgb(14, 148, 226);
  }

  .signup {
    flex-direction: column;
    height: 98vh;
    background-image: url('../public/images/img-test.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 20px;
    font-family: OCR A Std, monospace;
    color: rgb(14, 148, 226);
  }

  .signup-form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .signup-label {
    margin: 10px 0;
  }
  
  .signup-input {
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 10px;
  }
  
  .signup-button {
    margin-top: 20px;
    cursor: pointer;
    background-color: rgb(31, 84, 165);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 17px;
    text-align: center;
    font-family: OCR A Std, monospace;
  }
  
  .signup-button:hover {
    background-color: #bfbdc7;
  }

  .about {
    flex-direction: column;
    height: 98vh;
    background-image: url('../public/images/img-test.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 70px;
    font-family: OCR A Std, monospace;
    color: rgb(14, 148, 226);
  }
  
