.cards {
    background-blend-mode: rgb(17, 17, 54);
    margin-top: 0vh;
}

.cards__container {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 1320px;
  width: 60%;
  margin: 0 auto;
}

.cards h2 {
  position: relative;
  font-size: 15px;
  margin-left: 23.5vw;
  color: white;
  font-family: OCR A Std, monospace;
  z-index: 1000;
}

.cards__wrapper {
  position: relative;
  margin: 60px 0 45px;
}

.cards__wrapper h1 {
  position: relative;
  font-size: 15px;
  margin-left: 1vw;
  color: white;
  font-family: OCR A Std, monospace;
  z-index: 1000;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgb(255, 255, 255);
  -webkit-filter: drop-shadow(0 6px 20px rgb(6, 240, 248));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}

.cards__item__link:hover{
  box-shadow: 0 6px 20px rgb(41, 230, 236);
  -webkit-filter: drop-shadow(0 6px 20px rgb(6, 240, 248));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));

}


.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
  
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
    font-family: OCR A Std, monospace;
    font-size: 13px; 
    color: #ffffff; 
    text-align: center; 
    margin-top: 20px; 
}

.cards__item__arrow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat; 
    transition: opacity 0.5s; 
    opacity: 0; 
  }
  
.cards__item__link:hover .cards__item__arrow {
    opacity: 1; 
}


@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}