.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10vh;
    margin-left: 50vh;
    z-index: 1000;
    width: 50%;
    
  }
  
  .search-bar {
    position:relative;
    display: flex;
    box-shadow: 0 6px 20px rgb(42, 240, 240);
    -webkit-filter: drop-shadow(0 6px 20px rgb(6, 240, 248));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  }
  
  .search-input {
    flex: 1;
    padding: 10px;
    color: white;
    background-color: #080808;
    font-family: OCR A Std, monospace; 
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  .search-button {
    padding: 10px 20px;
    font-family: OCR A Std, monospace; 
    background-color: #0a0a0a;
    color: white;
    border: 1px solid #000000;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #1d1c1c;
  }

  .search-results {
    position: absolute;
    width: 43%;
    max-height: 70px;
    color: rgb(255, 255, 255);
    overflow-y: auto;
    background-color: #020913;
    border-top: none;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top:39px;
  }

  .search-bar select {
    padding: 6px;
    font-size: 12px;
  }
  
  .search-result {
    padding: 10px;
    border-bottom: 1px solid #2fd4f1;
  }
  
  .search-results.show {
    display: block;
  }
  
  .search-result:last-child {
    border-bottom: none;
  }
  
  .search-result p {
    margin: 0;
    font-size: 14px;
    color: rgb(255, 255, 255);
  }
  
  .search-result:hover {
    background-color: #e9e9e9;
    cursor: pointer;
  }
  