.search-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px; /* Set the height to one-third of the viewport height */
    z-index: 10;
  }
  
  .search-bar {
    display: flex;
  }
  
  .search-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: 1px solid #007bff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .search-button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }
  